#ignore all git related stuff
.github
.gitignore

# ignore test when compilation
**/*_test.go

# ignore ipc files created in test execution
**/*.ipc
*.ipc

# ignore documentation files
AUTHOR
LICENSE
VERSION
readme
docs
site
**/*.md
**/*.wasm

# ignore documentation builder
**/python36_venv

# ignore dashboard files
**/dashboard

**\.idea
**/asm
**/benchmarks
**/ci
**/docs
**/rfc
**/ofus
**/secrets
**/test
**/volumes
etherniti
*.md
*.yml
Gopkg.toml
Gopkg.lock
*.conf
LICENSE
VERSION