.theme-etherniti .navbar {
  background-color: #0530ad; }

.theme-etherniti .navbar-brand {
  color: #fff; }
  .theme-etherniti .navbar-brand:hover {
    color: #fff; }
  .theme-etherniti .navbar-brand:active {
    color: #fff; }
  .theme-etherniti .navbar-brand:focus {
    color: #fff; }

.theme-etherniti .nav > li > a {
  color: #fff; }
  .theme-etherniti .nav > li > a:hover {
    background-color: transparent; }
  .theme-etherniti .nav > li > a:focus {
    background-color: transparent; }

.theme-etherniti .nav .open > a {
  background-color: transparent; }
  .theme-etherniti .nav .open > a:hover {
    background-color: transparent; }
  .theme-etherniti .nav .open > a:focus {
    background-color: transparent; }

.theme-etherniti .bars {
  color: #fff; }

.theme-etherniti .sidebar .menu .list li.active {
  background-color: transparent; }
  .theme-etherniti .sidebar .menu .list li.active > :first-child i, .theme-etherniti .sidebar .menu .list li.active > :first-child span {
    color: #0530ad; }

.theme-etherniti .sidebar .menu .list .toggled {
  background-color: transparent; }

.theme-etherniti .sidebar .menu .list .ml-menu {
  background-color: transparent; }

.theme-etherniti .sidebar .legal {
  background-color: #fff; }
  .theme-etherniti .sidebar .legal .copyright a {
    color: #0530ad !important; }

